<!DOCTYPE html>
<html>

<head>
	<title>Smart Invest</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/static/styles.css" />
</head>


<body>
	<h1>Smart Invest Table</h1>
	<h2>We kindly welcome you <span class="Namestyle"> {{a_name}} </span> to have a look at your personalized table:</h2>
	
	<!--  th = table heading, td = table data, tr = table row, caption = table caption --->

	<table style="width:50%" class="tablecontent">


	  	{% for content in tablecontent %}

	  <tr><td>{{content[0]}}</td>
		<td>{{content[1]}}</td>
		<td>{{content[2]}}</td>
		<td>{{content[3]}}</td>
	</tr>
		{% endfor %}


	</table>
</body>

</html>